/*Without changing anything in the html, add the following styles using advanced selectors*/

* {
  font-family: Helvetica;
}

header {
  background-color: lightblue;
}

header, footer {
  text-align: center;
}

a {
  color: gray;
}

a:hover {
  color: red;
}

a:visited {
  color: black;
}

footer {
  font-size: .5em;
}

header nav ul {
  list-style-type: none;
}

a[href="#comments"] {
  font-style: italic;
  color: orange;
  text-decoration: none;
}

a[href="#comments"]:hover {
  text-decoration: underline;
}

h3 a {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}

article p {
  line-height: 200%;
}

article::first-letter {
  font-size: 2em;
}

article img:nth-of-type(1) {
  border-radius: 25px;
}

article {
  background-color: lightgray;
}

aside#top-cats section:nth-of-type(1) {
  background-color: gold;
}

aside#top-cats section:nth-of-type(2) {
  background-color: silver;
}

aside#top-cats + section {
  background-color: brown;
}

aside img {
  border-radius: 25px;
}

aside + section img {
  border-radius: 25px;
}

aside section:nth-of-type(1) h3::before {
  content: "🐈"
}

aside section:nth-of-type(1) h3::after {
  content: "🏆"
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
}